extends layout.pug

mixin ref(name, href)
  span.cite
    | [
    a(href=href)= name
    | ]
mixin sref(name, href)
  |  
  +ref(name, href)
mixin refs(name, href)
  +ref(name, href)
  |  
mixin srefs(name, href)
  |  
  +ref(name, href)
  |  

block title
  title Lunch Seminar

block slides
  section(data-transition="none")
    h1 Adversarial Phenomenon in the Eyes of Bayesian Deep Learning
    p Ambrish Rawat, Martin Wistuba
    p IBM Research Dublin

  section(data-transition="none")
    h3 What we don't know?
    
  
  section(data-transition="none")
    h3 What we don't know about what we don't know?


  section(data-transition="none") 
    h3 Uncertainty in classification


  section(data-transition="none") 
    h3 Neural Networks for classification
  
  
  section(data-transition="none") 
    h3 Bayesian Neural Networks


